*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #333;
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
#sketch-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-size),var(--cell-size));
    grid-template-columns: repeat(var(--grid-size),var(--cell-size));
    /* width: 960px;
    height: 960px; */

    /* use vmin to choose the smaller between width or height, keep it square */
    width: 60vmin;
    height: 60vmin;
    background-color: #CCC;
    gap: 0;
  
    
    
}



.grid-box:hover {
    background-color: #aaa;
    cursor: pointer;
    
    
}
.grid-box {
    /* position: relative; */
    background-color: white;
    border: 1px solid #aaa;
    
    
}



#color-container {
    margin: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 200px;
    justify-content: center;
    padding: 0;
}



#default-color {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
    gap: 2px;
}

.color {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 100%;
}
.red {
    background-color: red;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.indigo {
    background-color: indigo;
}
.violet {
    background-color: violet;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.hex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
input {
    width: 200px;
    height: 50px;
}

#size-button, #erase-button, #reverse-button {
    width: 100px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
    cursor: default;
}
#size-choosing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#size-button:hover, #submit-button:hover, 
#erase-button:hover, #reverse-button:hover,
#save-color-button:hover {
   cursor: pointer;
   background-color: #b19cd9;

}

/* .hex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* button {
    position: relative;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
} */

/* .tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 125%;
    margin-left: -100px;
    opacity: 0;

    
}
.tooltip:hover {
    visibility: visible;
    opacity: 1;
} */